* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-width: 500px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #F0F2F5;
    text-align: center;
}

/* ------------------------------------------------------------------- */

section {
    padding-top: 14px;
    padding-bottom: 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#facebook {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

#facebook img {
    height: 106px;
}

#facebook p {
    color: #1C1E21;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    width: auto;
}

/* ------------------------------------------------------------------ */

#login-area {
    height: 456px;
    width: 396px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#login-area p {
    display: inline-block;
    margin-top: 20px;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}

#login-area a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
}

#login {
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.185);
    padding: 18px 0;
    margin-bottom: 10px;
}

#line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 22px 16px;
    text-align: center;
}

.input {
    display: block;
    font-size: 17px;
    padding: 14px 16px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 330px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
}

.input:focus::placeholder {
    color: #aeb2b8;
}

.input:focus {
    outline: 1px solid #2983f0d5;
}

#login-btn {
    color: #fff;
    font-weight: 700;
    background-color: #1877f2;
    display: block;
    margin: auto;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
}

#login a {
    text-decoration: none;
    display: inline-block;
    margin-top: 17px;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

#new-account {
    color: #fff;
    font-weight: 700;
    background-color: #42b72a;
    border-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    margin: 5px;
    line-height: 48px;
    padding: 0 16px;
}

/* -------------------------------------------------------------- */

@media only screen and (min-width: 900px) {

    section {
        padding-top: 14px;
        padding-bottom: 164px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #login-area {
        position: relative;
        top: 80px;
    }

    #facebook {
        text-align: left;
        flex-direction: column;
    }

    #facebook img {
        position: relative;
        left: -30px;
    }
  }

  @media only screen and (min-width: 1075px) {
    #facebook {
        text-align: left;
        flex-direction: column;
        font-size: 28px;
        width: 500px;
    }

    #facebook p {
        font-size: 28px;
    }
  }